{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" alt="Titre et logo du site : MediaTek86">
        </div>
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('formations') }}">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('playlists') }}">Playlists</a>
                    </li>   
                </ul>
                <form class="position-absolute end-0" action="" method="get">
                    <div class="form-group d-inline-block">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group d-inline-block">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                    <div class="form-group d-inline-block">
                        <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
            <p><small><em>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </em></small></p>
            
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}